body {
    margin: 0;
    padding-top: 800px;
}

.img1 {
    width: 175px;
    border-radius: 50%;
    margin-bottom: 50px;
}

#welcome {
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: aqua;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(#48f542 0%, #000000 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.div1 {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

h1 {
    line-height: 1.2;
    font-family: inherit;
}

h2 {
    line-height: 1.2;
    font-family: monospace;
}

#span1 {
    font-size: 30px;
    line-height: 1.2;
    font-family: 'Lobster Two', cursive;
}

#bio,#Videos,#work,#writings,#contacts {
    padding: 50px;
    text-align: center;
}

.line {
    height: 6px;
    width: 70px;
    background-color: black;
    margin: 8px auto;
}

#biopara {
    max-width: 450px;
    margin: 25px auto;
    line-height: 1.3;
}
.menu{
    list-style: none;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
    width: 100%;
    margin-top: 0px;
}
.link{
    float: left;
    color: aquamarine;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10xp;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: chocolate;
    text-shadow: 2px 2px gainsboro;
}
.article:hover{
    color: aquamarine;
}
html{
    scroll-behavior: smooth;
}
.link:hover{
    background-color: black;
    font-size: 25px;
    text-decoration: underline;
}
#writings a{
    text-shadow: none !important;
    text-decoration: underline !imaportant;
    color: darkblue !important; 
}
.contact{
    background: firebrick;
}
.contact a{
    color: ghostwhite;
    text-shadow: none;
}
.contact h3{
    display: inline;
}
#contacts iframe{
    width: 100%
}